<h1>Listing messages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Username</th>
    <th>Content</th>
    <th></th>
  </tr>

  <% @message.each do |message| %>
    <tr>
      <td><%= message.title %></td>
<<<<<<< HEAD
      <td><%= message.username %></td>
=======
      <td><%= message.text %></td>
>>>>>>> d486b84fd312770cc28dafaed3fe4a4e480fa93f
      <td><%= message.content %></td>
      <td><%= link_to 'Show', message_path(message) %></td>
    </tr>
  <% end %>
</table>
