<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <h1>Listing messages</h1>
</div>

<%= link_to 'New message', new_message_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Username</th>
    <th>Content</th>
    <th></th>
  </tr>

  <% @message.each do |message| %>
    <tr>
      <td><%= message.title %></td>
      <td><%= message.username %></td>
      <td><%= message.content %></td>
      <td><%= link_to 'Show', message_path(message) %></td>
      <td><%= link_to 'Edit', edit_message_path(message) %></td>
      <td><%= link_to 'Desroy', message_path(message),
              method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
